/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/

    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }

/*
    ... and give links a nice look.
*/
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

* {
    margin: 0;
    padding: 0;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.

    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?

    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;


    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

/** FONTS **/



@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/open-sans/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}





body{
    background-image: url('../images/debut_dark.png');
    color:white;

    background: #333333;
    background: -webkit-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -moz-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -o-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: -ms-radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);
    background: radial-gradient(center bottom, circle farthest-corner, #666666, #333333, black);

    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

img{
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.title{
    font: 70pt 'OpenSansExtrabold', Arial, sans-serif;
}

.subtitle{
    font: 35pt 'OpenSansItalic', Arial, sans-serif;
    text-align: center;
}

.float-left{
    float:left;
}

.clear{
    float:none;
    clear:both;
}

h2 {
    font-size: 48px
}

h3{
    font-size: 35px;
}

.step{
    font: 40pt 'OpenSansBold', Arial, sans-serif;
    text-align: center;
    text-shadow: #141414 2px 5px 10px
}

.column {
    width: 33%;
    float: left;
}

#sections{
    font-size: 32px;
    color: #5A5A5A;
}

#sections.active, #sections.future, .impress-on-sections-basics #sections .basics, .impress-on-sections-advanced #sections .advanced, .impress-on-sections-conclusions #sections .conclusions{
    color: #ffffff;
}

.justified{
    text-align: justify;
}

.shadow {
    /* shadow */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

.slideTitle{
    text-align: center;
    margin-bottom: 40px;
    font-size: 60px;
}

.slideContent{
    text-align: center;
    font-size: 40px;
}

pre{
    font-size: 0.6em;
}

body pre code {
text-align: left;
    font-size: 20px;
background: rgba(0, 0, 0, 0.4);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding: 0;
text-align: left;
}